/* CSS RESET */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* Styles */
/*body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url();
    /* -webkit-background-size: cover; */
/*    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 
*/

/* Layout */
.body {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.images-body {  
  position: fixed;
}

.main {
  width: 80%;
}

.header {
  font-family: 'Playfair Display', Arial, sans-serif;
  font-weight: 700;
  color: #2e343b;
}

.h2 {  
  margin: -2rem 0 .25rem 0;
  font-size: 3.5rem;
}

.h3 {
  font-size: 3.3rem;
  margin: 3rem 0 1rem 0;
}

.header-slogan {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #6c7a89;
}

.row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.row-space {
  margin-top: 2rem;
}

.a {
  display: block;
  font-size: 2.5rem;
  text-decoration: underline;
  color: #00abc9;
}

/* Buttons and Links */
.button {
  flex-grow: 1;
  display: inline-block;
  border: 1px solid #00abc9;
  border-radius: 2px;
  padding: .875rem 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #00abc9;
  margin: .5rem .25rem;
  vertical-align: middle;
  color: #fff;
  font-weight: 400;
  min-width: 100px;
}

.button-des {
  flex-grow: 1;
  display: inline-block;
  min-width: 100px;
  margin: .5rem .25rem;
}

.attr, .ele {
  text-align: left;
  font-size: 1rem;
  margin-bottom: .5rem;
  padding-left: .3rem;
}

.ele-des {
  color: #905;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

.attr-des {
  color: #96B852;
  font-size: 1.2rem;
}

.attr-none {
  color: red;
}


/* Buttons with icons and Images*/
.icons-main {
  width: 90%;
}

.column {
  width: 49%;
  display: inline-block;
}

.hidden-text {
  position: absolute;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  z-index: -1000;
}

.buttons-icons {
  text-align: initial;
  height: 180px;
}

.close-button {
  display: flex;
  -webkit-appearance: none;
  border: 1px solid #e1e6eb;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  margin-top: .5rem;
}

.pre {
  overflow: auto;
  background-color: #F9F0FF;
  margin-top: .5rem;
  font-size: 1rem;
  text-align: initial;
}

.language-html {
  font-family: monospace;
  white-space: pre-wrap;
}

.menu-label {
  font-size: 28px;
}

.img {
  width: 25px;
  height: auto;
}

/* Images-alt */
.img-alt {
  height: 45%;
  width: 45%;
}

.img-pre {
  width: 45%;
}

.img-decor-left,
.img-decor-right {
  position: absolute;
  z-index: -1;
}

.img-decor-left {
  bottom: 0;
  left: 0;
  height: auto;
  max-width: 550px;
}

.img-decor-right {
  max-height: 100%;
  top: 0;
  right: -30%;
  max-width: auto;
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) {


}

/* Medium Devices, Desktops */
@media (max-width : 1260px) {
  .icons-body {
    align-items: initial;
  }

  .column {
    width: 100%;
    display: block;
  }
}

/* Large Devices */
@media (min-width : 1450px) {
  .buttons-icons {
    margin-top: 4rem;
  }

  .pre {
    font-size: 1.5rem;
  }

  .img-alt {
    height: 40%;
    width: 40%;
  }

  .h2 {
    font-size: 6.5rem;
  }

  .h3 {
    font-size: 6rem;
  }

  .header-slogan {
    font-size: 3.5rem;
  }
}
